<% if likes.any? %>
  <ul class="list-unstyled">
    <% likes.each do |like| %>
      <li class="mb-3 d-flex">
        <p><%= like.micropost.content %</p>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>